node_modules*
garageTracking.json
garageTracking2.json
garageTracking3.json
options.js
*.log*
twilioLoginInfo.js
login.js
messengerInfo.js
*jpg*
stream/*
.vscode
proof.txt
keybase.txt
core
garageTracking.json
garageTimes.js
garageTimes*
.DS_Store