<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Silver Leaf Garage</title>

    <!-- Bootstrap CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/general.css" rel="stylesheet">

    <style type="text/css">
    </style>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/general.js"></script>
    <script>
        var socket = io();
        socket.on('liveStream', function (url) {
            $('#stream').attr('src', url);
        });

        socket.on('liveStreamDate', function (date) {
            $(".date").text(date);
            $('.start').hide();
            $('#stream').show();
        });

        socket.on('clients', function (clients) {
            $(".clients").text(clients);
        });


        socket.on('garageOpenStatus', function (status) {
            if (status) {
                if (status === "Opening..." || status === "Closing...") {
                    $("#progress").show();
                } else {
                    $("#progress").hide();
                }
                $("#garageOpenStatus").show();
                $("#garageOpenStatus").text(status);
            } else {
                $("#garageOpenStatus").hide();
                $("#progress").hide();

            }
        });

        socket.on('garageGPSStatus', function (status) {
            if (status) {
                $("#garageGPSStatus").text(status);
                $("#garageGPSStatus").show();
            } else {
                $("#garageGPSStatus").hide();
            }
        });

        socket.on('garageStatus', function (status) {
            if (status) {
                $("#garageStatus").text(status);
                $("#garageStatus").show();
            } else {
                $("#garageStatus").hide();
            }
        });


        socket.on('personOneAway', function (status) {
            if (status) {
                $("#personOneAway").text(status);
                $("#personOneAway").show();
            } else {
                $("#personOneAway").hide();
            }
        });


        socket.on('personTwoAway', function (status) {
            if (status) {
                $("#personTwoAway").text(status);
                $("#personTwoAway").show();
            } else {
                $("#personTwoAway").hide();
            }
        });

        socket.on('garageTimer', function (status) {
            if (status) {
                $("#garageTimer").text(status);
                $("#garageTimer").show();
            } else {
                $("#garageTimer").hide();
            }
        });

        socket.on('garageStatus', function (status) {
            if (status) {
                $("#garageStatus").text(status);
                $("#garageStatus").show();
            } else {
                $("#garageStatus").hide();
            }
        });


        socket.on('garageErrorStatus', function (status) {
            if (status) {
                $("#garageErrorStatus").text(status);
                $("#garageErrorStatus").show();
            } else {
                $("#garageErrorStatus").hide();
            }
        });

        socket.emit('start-stream');

    </script>
</head>

<body class="container">
    <h1 class="text-center">Silver Leaf Garage
        <br />
        <button type="button" class="btn btn-info" id="open">Open Garage</button>

        <button type="button" class="btn btn-info" id="close">Close Garage</button>

        <button type="button" class="btn btn-info" id="video">Send Video</button>


        <br>
        <small>Light Brightness</small>
        <br>

        <button type="button" class="btn btn-info" id="lights25">25%</button>
        <button type="button" class="btn btn-info" id="lights50">50%</button>
        <button type="button" class="btn btn-info" id="lights75">75%</button>
        <button type="button" class="btn btn-info" id="lights100">100%</button>

        <br> Garage is currently:
        <div id="garageStatus"></div>
        <div id="garageOpenStatus"></div>
        <div id="garageErrorStatus"></div>

        person one is:
        <div id="personOneAway"></div>
        person two is:
        <div id="personTwoAway"></div>
        Auto open after:
        <div id=garageTimer""></div>
        GPS auto open is: <div id="garageGPSStatus"></div>
        <br>
        <progress id="progress"></progress>
    </h1>
    <hr>
    <div class="load start">Loading please wait...</div>
    <div class='load start uil-default-css' style='transform:scale(0.6);'>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
    </div>

    <!--   <button type="button" id="" class="btn btn-info start" onclick="startStream()">Start Camera</button> -->

    <div class="row">

        <img src="" id="stream"> Clients Connected:
        <div class="clients">N/a</div>

        Image Last Updated:
        <div class="date">N/a</div>
        <br>

        <button type="button" class="btn btn-info" id="gps">Toggle GPS Open</button>
        <br>

    </div>

</body>

</html>