<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Silver Leaf Garage</title>

    <!-- Bootstrap CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/general.css" rel="stylesheet">

    <style type="text/css">
    </style>

    <!-- jQuery -->
    <script src="/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/general.js"></script>
    <script src="/socket.js"></script>
       
</head>

<body class="container">
    <h1 class="text-center smallText">Silver Leaf Garage
        <br />
        <button type="button" disabled class="btn btn-info" id="open">Open Garage</button>

        <button type="button" disabled class="btn btn-info" id="close">Close Garage</button>

        <button type="button" class="btn btn-info" id="video">Send Video</button>
       
        <br>
        <div class="largeText" > Garage is:</div>
        <div class="largeText" id="garageStatus" style="color:green"></div>
        <div class="largeText" id="garageOpenStatus" style="color:green"></div>
        <div class="largeText" id="garageErrorStatus" style="color:green"></div>
        <br>

        
        <div class="garageStatus" id="personOneName">User 1:</div> <a class="garageStatus" id="personOneAway"></a>
                <div id="personOneTime"></div>
        <div class="garageStatus" id="personTwoName">User 2:</div> <a class="garageStatus" id="personTwoAway"></a> 
                <div id="personTwoTime"></div>
        <progress id="progress"></progress>
    </h1>
    <hr id="bootstrap-overrides"> 
    <div class="load start">Loading please wait...</div>
    <div class='load start uil-default-css' style='transform:scale(0.6);'>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
        <div
            style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'>
        </div>
    </div>

    <div class="row">

        <img src="" id="stream"> Clients Connected:
        <div class="clients">N/a</div>

        Image Last Updated:
        <div class="date">N/a</div>

		<br>
        <button type="button" class="btn btn-info" id="toggleGarageStillOpenAlert">Still Open Alert Enabled</button>
        <br> 

        <h1 class="text-center">
        GPS auto open is: <div class="garageStatus" id="garageGPSStatus" style="color:green"></div>
        </h1>
        <button type="button" class="btn btn-info" id="gps">Toggle GPS Open</button>
        <br><br>
        <button type="button" class="btn btn-info" id="toggleGuestIsHome">Guest Is Home Disabled</button>
        <br><br>


        <div class="largeText" id="garageLightStatus" style="color:green"></div>
        <br>
        System has been online: <div class="garageStatus" id="rebootTime"></div>
        <br>
        Open after away for: <div class="garageStatus" id="garageTimer" style="color:purple"></div>
        <br>
        Still open alert timeout: <div class="garageStatus" id="stillOpenAlert" style="color:purple"></div>
        <br>
        Home guest temporary enable: <div class="garageStatus" id="guestIsHome" style="color:purple"></div>
        <br>
        Last opened: <div class="garageStatus" id="garageLastOpenedTime">N/a</div>
        <br>
        Last closed: <div class="garageStatus" id="garageLastClosedTime">N/a</div>
        <br>
        Garage was open for <div class="garageStatus" id="garageTimeOpened">N/a</div>
        <br>
        Garage was last opened by <div class="garageStatus" id="whoOpenedGarageLast">N/a</div>
        <br>
        Garage was last closed by <div class="garageStatus" id="whoClosedGarageLast">N/a</div>
        <br>
        Garage opens: <div class="garageStatus" id="garageOpenCount">N/a</div>
        <br>
        Spring life remaining: <div class="garageStatus" id="springLifeRemaining">N/a</div>
        <br>
        Will open via GPS based on rules: <div class="garageStatus" id="shouldOpenGarageBaesdOnRules">N/a</div>
        <br>
        Next time will open via GPS: <div class="garageStatus" id="whenGarageWillOpenNext">N/a</div>


        <br><br>




    </div>

</body>

</html>
